<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.chips"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:theme="@style/ChipsStyle">
        <activity android:name="LaunchActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ApplicationHubActivity" >
        </activity>
        <activity android:name=".SearchFoodActivity">
        </activity>
        <activity android:name=".ShoppingListActivity">
        </activity>
        <activity android:name=".CalendarActivity">
        </activity>
        <activity android:name="InventoryActivity">
        </activity>
        <activity android:name=".StatisticsActivity">
        </activity>
        <activity android:name=".CustomizeActivity">
        </activity>
        <activity android:name=".AddFoodActivity"></activity>
        <activity android:name="AddFoodToFavoriteMealActivity"></activity>
        <activity android:name=".EditFavoriteActivity"></activity>
        <activity android:name=".FavoritesActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
    </application>
</manifest>